@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap';

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    background-color: black;
    background: url(../../image/TheVoidAvatarSite.png); 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

span, a {
    background-color: darkorange;
    background-clip: text;
    
    -webkit-text-fill-color: transparent;
    
    background-image:
    linear-gradient(110deg,
    rgb(223, 78, 21) 0%,
    rgb(255, 161, 98) 50%,
    rgb(255, 221, 221) 100%);
}

a {
    outline: invert;
    text-decoration: none;
}

.login-main {
    position: absolute;
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    font-family: 'Roboto Condensed', sans-serif;
}

#form-submit {
    position: relative;
    
    height: 40px;
    width: 30%;

    transition: 1s ease-out;
}

#login-submit {
    position: relative;

    height: 100%;
    width: 100%;

    border-radius: 10px;

    text-align: center;

    font-family: 'Roboto Condensed', sans-serif;

    transition: 1s ease-out;
}

#form-submit:hover {
    cursor: pointer;

    height: 50px;
    width: 35%;

    transition: 1s ease-out;
}

#form-submit:hover #login-submit {
    cursor: pointer;
}

#login-passwordEye {
    position: relative;

    height: 30px;
    width: 30px;

    background-image: url(../../vektor-image/eye_closed.svg);

    outline: none;
    box-shadow: none;
    border: 0px solid white;

    transition: 1s ease-in-out;
}

#login-passwordEye:hover {
    cursor: pointer;

    background-image: url(../../vektor-image/eye_open.svg);

    transition: 1s ease-in-out;
}
#add {
    position: relative;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 10px;

    transition: 1s ease-in-out;
}

#login-login {
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    height: 600px;
    width: 450px;

    border: 2px solid;
    border-color: rgba(182, 182, 182, 0.183);
    border-radius: 10%;
    
    backdrop-filter: blur(5px);
}

.login-input {
    width: 200px;
    height: 20px;
    
    padding: 10px;

    text-align: center;
    border-radius: 10px;
}

#login-successed {
    display: none;
    
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    transition: 1s ease-in-out;
}

.login-input-inner-div {
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 300px;

    margin: 30px;
}