@media screen and (orientation:landscape) and (max-height:650px) {
    #login-login {
        display: flex;
    
        flex-wrap: wrap;
        flex-direction: row;
    
        align-items: center;
        justify-content: center;
    
        height: 250px;
        width: 700px;
        
        border-radius: 10%;
        backdrop-filter: blur(5px);
    }
    
    #add {
        position: absolute;
    
        bottom: 0;

        display: flex;
    
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        margin: 5px
    }

    .login-input {
        width: 180px;
        height: 15px;
        
        padding: 10px;
    
        text-align: center;
        border-radius: 10px;
    }
    
    .login-input-inner-div {
        display: flex;
    
        flex-wrap: wrap;
        flex-direction: column;
    
        align-items: center;
        justify-content: center;
    
        width: 200px;
    
        margin: 10px;
    }
}